# Default ignored files
/../../B. I.O.U./.idea/shelf/
/../../B. I.O.U./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../B. I.O.U./.idea/httpRequests/
# Datasource local storage ignored files
/../../B. I.O.U./.idea/dataSources/
/../../B. I.O.U./.idea/dataSources.local.xml
